<div class="d-flex justify-content-center align-items-center" style="min-height: 90vh;">
  <main role="main" class="inner cover text-center p-5">
    <h1 class="cover-heading">Welcome {{userName}}.</h1>
    <p class="lead">This project consists of a website to manage tasks, where it is possible to create an account with a login and password, enter and manage tasks and divide them into categories.</p>
    <p>Check it out on github</p>
    <p class="lead">
      <a href="https://github.com/ArthurSantos18/ToDoFlow" target="_blank"  class="btn btn-lg btn-secondary">Project Link</a>
    </p>
  </main>
</div>