<section class="d-flex justify-content-center">
  <div class="card mt-5 p-2" style="width: 30em; border: solid rgba(0, 0, 0, 0.262);">
    <div class="card-body">
      <h5 class="card-title mb-3">Create Task</h5>
      <form class="row g-3">
        <div class="col-12">
          <label for="ItaskName" class="form-label">Task Name</label>
          <input type="text" class="form-control" id="ItaskName">
      </div>
        <div class="col-md-6">
          <label for="Icategory" class="form-label">Category</label>
          <select class="form-select" id="Icategory">
            <option value="teste">teste</option>
          </select>
        </div>
        <div class="col-md-6">
          <label for="Ipriority" class="form-label">Priority</label>
          <select class="form-select" id="Ipriority">
            <option value="teste">teste</option>
          </select>
        </div>
        <div class="col-12">
          <label for="Idescription">Description</label>
          <textarea id="Idescription" rows="3" class="form-control"></textarea>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-success">Create</button>
        </div>
      </form>
    </div>
  </div>
</section>
